[
  {
    "id": "req-123",
    "username": "user1",
    "password": "pass1",
    "stb": "STB0001"
  },
  {
    "id": "req-124",
    "username": "user2",
    "password": "pass2",
    "stb": "STB0002"
  }
]